In [ ]:
x=10
print(x,type(x),id(x))
x+=1
print(x,type(x),id(x))
x=3.142
print(x,type(x),id(x))
x='A'
print(x,type(x),id(x))
x="vinsys"
print(x,type(x),id(x))
x=10+5j
print(x,type(x),id(x))
x=False
print(x,type(x),id(x))
x=None
print(x,type(x),id(x))

In [ ]:
# 3 ways to do formatting in python

player="sachin"
runs=100
average=80.65
print("player is ",player)
print("runs is ",runs)
print("average is ",average)
# C style of formatting 
print("Player is %s\nruns is %d\naverage is %.3f\n"%(player,runs,average))
# str.format()
print("Player is {0} {0} {0}\nruns is {1} {1} {1}\naverage is {2} {0} {1}\n".format(player,runs,average))
# f-string can be used on python 3.5 or higher
print(f"Player is {player}\nRuns is {runs}\nAverage is {average}")

In [ ]:
while True:
    try:
        var1=int(input("Enter first number")) # one step conversion
        var2=int(input("Enter second number")) # two step conversionvar2=int(var2)
    except ValueError as ex:
        print(ex)
        continue
    except:
        print("This is a generic except block!")
        continue
    else:
        print(f"Addition of {type(var1)} and {type(var2)} is {type(var1+var2)}")
        print(f"Addition of {var1} and {var2} is {var1+var2}")
        break
    finally:
        print("Finally will always be executed!")

In [ ]:
control statements
- sequential
- conditional
    (a) selection (branching)
        if: else: elif: 
    (b) iteration (looping)
        while: for:
- unconditional
  continue, break

In [ ]:
 var1=int(input("Enter first number"))

In [ ]:
var1=float(input("Enter first number")) # one step conversion

var2=input("Enter second number") # two step conversion
var2=float(var2)

print(f"Addition of {type(var1)} and {type(var2)} is {type(var1+var2)}")
print(f"Addition of {var1} and {var2} is {var1+var2}")

In [ ]:
name="sachin"
jersey=10

print(name+"india")
print(name.__add__("india"))
print(name.__mul__(10))
print(name*10)

#print(name+str(jersey)+"india"+str(3.142))

ip="192.168.10.1"
#print(int(ip))
print(dir(str))

In [ ]:
print(10/3)
print(10%3)
print(10//3)
print(2**15)

In [ ]:
var1=eval(input("Enter first number")) # one step conversion

var2=input("Enter second number") # two step conversion
var2=eval(var2)

#print(f"Addition of {type(var1)} and {type(var2)} is {type(var1+var2)}")
print(f"Addition of {var1} and {var2} is {var1+var2}")

In [ ]:
print("print \"double quotes\" within \ndouble quotes")
print('print "double quotes" within \ndouble quotes')
print('print \'single quotes\' within\nsingle quotes')
print("print 'single quotes' within \nsingle quotes")
# single line comment
print("""
        triple quotes can have any number
        of "double quotes" as well as
        'single quotes'
""")
print('''
        triple quotes can have any number
        of "double quotes" as well as
        'single quotes'
''')

In [ ]:
guideline1="How to write beautiful code in python"
print(guideline1)
print(guideline1[:]) # start:next_to_last:step_count
print(guideline1[::])
print(guideline1[0:])
print(guideline1[0])
print(guideline1[0:3])
print(guideline1[7:12])
print(guideline1[::2])
print(guideline1[-1])
print(guideline1[-6:])
print(guideline1[::-1])
print(len(guideline1),guideline1.__len__())

In [ ]:
print(dir(str))
# CRUD 
# Create Read Update Delete

In [ ]:
check_str="Python Programming"
print(check_str.isupper())
print(check_str.islower())
print(check_str.isdigit())
print(check_str.isalnum())
print(check_str.isascii())
print(check_str.isspace())
print(check_str.istitle())
print(check_str.isdigit())
print(check_str.startswith('P'))
print(check_str.endswith('g'))

In [ ]:
help(str.startswith)

In [ ]:
principle="Now is better than Never"
print(principle.upper())
#principle=principle.upper()
print(principle)
print(principle.lower())
print(principle.capitalize())
print(principle.casefold())
print(principle.title())
print(principle.swapcase())
print(principle.center(100))
print(principle.ljust(100))
print(principle.rjust(100))

In [ ]:
company=["v","i","n","s","y","s"]
print(type(company))
print(company)
token=""
print(token.join(company)) # collection as a argument to join
token=":"
print(token.join(company))
token=","
print(token.join(company))
token="\t"
print(token.join(company))

In [ ]:
fact1="python supports multiple assingments"
print(fact1.count("python"))
print(fact1.count('s'))
print(fact1.count('s',10))
print(fact1.index('p'))
print(fact1.find('p'))
print(fact1.index('h'))
print(fact1.find('h'))
#print(fact1.index("ansible")) # ValueError: substring not found
print(fact1.find('ansible')) # returns -1 is substring is not present

In [ ]:
email="devadatta@gmail.com"
email_address=email.split("@")
print("User name is ",email_address[0])
print("Domain name is ",email_address[1])

In [ ]:
date="5-6-2022"
parse_date=date.split("-")
print(type(parse_date),parse_date)
dd=parse_date[0]
mm=parse_date[1]
yy=parse_date[2]
print(dd,mm,yy)

In [ ]:
price="Rs 300.50/-"
my_price=float(price.strip("Rs").strip("/-"))
if my_price < 500:
    print("I will purchase it")
else:
    print("I will wait!")

In [ ]:
mystring="              python is beautiful python   "
mystring=mystring.strip(" ")
print(mystring)
#mystring=mystring.strip("python")
#print(mystring)
print(mystring.lstrip("python"))
print(mystring.rstrip("python"))

In [ ]:
price="Rs 10,000.99/-"
price=price.strip("Rs").strip("/-")
print(type(float(price.replace(",",""))))
price=float(price.replace(",",""))
print(price)

In [ ]:
firstString = "water"
secondString = "fall"
thirdString = firstString + secondString
print(thirdString)
thirdString = f"{firstString}{secondString}"
print(thirdString)

In [ ]:
name = input("What is your name? ")
print(name)
color = input("What is your favorite color?  ")
animal = input("What is your favorite animal?  ")
print("%s, you like a %s %s!"%(name,color,animal))
print("{0}, you like a {1} {2}!".format(name,color,animal))
print(f"{name}, you like a {color} {animal}!")

In [ ]:
# collections are datastructures / in memory databases
# list [] tuple () set {} dict{key:value}
# list is a collection of hetergeous elements

In [ ]:
string1="devadatta"
print(dir(string1))
print(string1.__mul__(3))

In [ ]:
players=["SAchiN","VIRAT","RoHit"]

players_lower=[]

for each_player in players:
    players_lower.append(each_player.lower())

myplayer=input("Choose a player")

if myplayer.lower() in players_lower: 
    print(f"You have selected {myplayer}")
else:
    print("This player is not present")

In [ ]:
mystring="python is easy"
print(mystring.replace("python","ansible"))
print(mystring)

In [ ]:
# collection list[] tuple() set{} dict{key:values}
# list is hetergeous collection of elements which is mutable (It operates on the same memory location!)
banks=["sbi","axis","idbi","kotak","bob"]
print(banks,type(banks),id(banks))
#banks.sort(reverse=True)
banks.sort()
print(banks,type(banks),id(banks))
banks.reverse()
print(banks,type(banks),id(banks))
banks.append("pnb") # at the end
banks.insert(0,"yes bank") # @ particular position
banks.insert(3,"oriental")

new_banks=["hdfc","icici","bandhan"]
#banks.extend(new_banks) # merge elements of one list into another list
banks.append(new_banks) # list of list can be created

#print(dir(banks))
print(banks)
"""
print("First bank is ",banks[0])
print("Last element of the list is ",banks[2:6])
print("Last element of the list is ",banks[-1])
print("Reverse the banks",banks[::-1])
print("Print every next banks",banks[::2])
print(banks[8][1]) # icici
"""

In [ ]:
print(dir(list))

In [ ]:
banks=["sbi","axis","idbi","kotak","bob","kotak","kotak"]

print(banks)
#print(banks.__str__())
#print(banks.__repr__())

#mybanks=banks # shallow copy 

#mybanks=banks.copy() # deep copy at a new memory location

#mybanks.clear()

banks.pop()
print("Removed banks is",banks.remove("axis"))
print("Poped bank is",banks.pop(2))

#print(mybanks,id(mybanks))
print(banks,id(banks))

#print(banks.count("kotak"))
#print(banks.index("kotak"))
#print(banks.index("kotak",4))

In [ ]:
banks=("sbi","axis","idbi","kotak","bob","kotak","kotak")

#banks[0]="hdfc" # TypeError: 'tuple' object does not support item assignment
#del banks[2] # TypeError: 'tuple' object doesn't support item deletion

"""
print("First bank is ",banks[0])
print("Last element of the list is ",banks[2:6])
print("Last element of the list is ",banks[-1])
print("Reverse the banks",banks[::-1])
print("Print every next banks",banks[::2])
print(banks.count("kotak"))
print(banks.index("kotak",5))
newbanks=banks
print(newbanks)
"""
print(banks,type(banks))

In [ ]:
print(dir(tuple))

In [ ]:
nse=("olectra","5-5-2022",2000,850.50)
#nse[0]="ibm" # TypeError: 'tuple' object does not support item assignment
#del nse[3] # TypeError: 'tuple' object doesn't support item deletion

#print(nse[0],nse[1],nse[2],nse[3])

for elements in nse:
    print(elements)

company,date,shares,price=nse # multiple variable assignment
print(company,date,shares,price)

In [ ]:
x=10 #int
print(type(x))
x=(10) #int
print(type(x))
x=(10,) # tuple with one element requires comma operator 
print(type(x))
x=10,20,30 # tuple # whenever you use comma it becomes tuple
print(type(x))
x={}# dict
print(type(x))
x={10} # set
print(type(x))
x={10:"sachin"} # dict
print(type(x))

In [ ]:
def foo():
    return "sachin",10,"india",100,56.45

player,jersey,country,runs,average=foo()
print(player,jersey,country,runs,average)

In [ ]:
list1=[10,20,30]
list2=[40,50,60]
#list1.append(list2)
list1.extend(list2)
print(list1)
"""
print(list1[0])
print(list1[3])
print(list1[3][2])
"""
print(" ")

In [ ]:
print(dir(str))

In [ ]:
sensex=[
            ("accenture",258.45,1000,"5-5-2022"),
            ("olectra",345,2000,"6-5-2022"),
            ("sun pharma",567,3000,"7-5-2022"),
            ("hdfc",987,4000,"8-5-2022"),
            ("infosys",111,5000,"9-5-2022")
]
#print(sensex) # whole database
print(sensex[0]) # first record from database
print(sensex[-1]) # last record from database
print("Sun pharma price ",sensex[2][1])
print("Sun pharma number of shares ",sensex[2][2])
#sensex[4][0]="wipro"
print(sensex.append(["renishaw",222,7000,"10-5-2022"]))
print(sensex)
print(dir(tuple))

In [ ]:
tuple1=(10,20,30)
tuple2=(40,50,60)
#tuple3=tuple1+tuple2
tuple3=tuple1.__add__(tuple2)
print(tuple3)

In [17]:
cricketers={10:"sachin",18:"virat",17:"abd","dhoni":7,"gayle":333}
#print(cricketers)
print(cricketers["dhoni"])# value gets returns 7
print(cricketers.get("dhoni"))# value gets returns 7
#print(cricketers["sehwag"]) # keyerror
#print(cricketers.get("sehwag")) # Returns None if the key is not present
cricketers["hardik"]=228 # the key and value gets added in dict
cricketers[17]="rohit" # if the key already present then the value gets updated!
print(cricketers)
#print(cricketers.keys()) # list of keys
#for keys in cricketers.keys():
   #print(keys)
#print(cricketers.values()) # list of only values
#for values in cricketers.values():
   #print(values)
print(cricketers.items()) # returns a list of tuples [(keys,values)]
dream_11=cricketers.copy() # deep copy new memory location
cricketers.clear() # clear the contents of dict
for jersey,players in cricketers.items():
        print(jersey,players)
print(dream_11)

7
7
{10: 'sachin', 18: 'virat', 17: 'rohit', 'dhoni': 7, 'gayle': 333, 'hardik': 228}
dict_items([(10, 'sachin'), (18, 'virat'), (17, 'rohit'), ('dhoni', 7), ('gayle', 333), ('hardik', 228)])
{}

In [1]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [29]:
jersey=[7,17,333,45,23]
cricketers=dict.fromkeys(jersey)
cricketers[7]="dhoni"
cricketers[17]="virat"
cricketers[333]="gayle"
cricketers[45]="rohit"
cricketers[23]="shane"
cricketers.setdefault(17,"abd")# This is ignored
cricketers.setdefault(18,"abd")# This will be added
print(cricketers)
print(cricketers.pop(7)) # removes the key and value based on key and returns poped value 
print(cricketers.popitem())# This will remove the last item from dict returns a tuple 
print(cricketers)
dream_11={800:"murli",99:"sehwag"}
cricketers.update(dream_11)
print(cricketers)

{7: 'dhoni', 17: 'virat', 333: 'gayle', 45: 'rohit', 23: 'shane', 18: 'abd'}
dhoni
(18, 'abd')
{17: 'virat', 333: 'gayle', 45: 'rohit', 23: 'shane'}
{17: 'virat', 333: 'gayle', 45: 'rohit', 23: 'shane', 800: 'murli', 99: 'sehwag'}

In [41]:
sensex={
            "hdfc":{"current":1556.45,"high":2000,"low":1500},
            "olectra":{"current":800.45,"high":1000,"low":700},
            "sun pharma":{"current":2000,"high":1800,"low":1000}
       }
print("Data related to olectra",sensex["olectra"])
print("Todays price for sunpharma",sensex["sun pharma"]["current"])
for companies,data in sensex.items():
    print(f"Price of {companies} is {data}")

Data related to olectra {'current': 800.45, 'high': 1000, 'low': 700}
Todays price for sunpharma 2000
Price of hdfc is {'current': 1556.45, 'high': 2000, 'low': 1500}
Price of olectra is {'current': 800.45, 'high': 1000, 'low': 700}
Price of sun pharma is {'current': 2000, 'high': 1800, 'low': 1000}

In [40]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [65]:
# set is unordered mutable collection of unique hetergenous immutable elements

companies={"cognizant","accenture","capgemini","wipro","tcs","wipro","wipro",10,3.142,True,None,10+5j,
            ("ibm","5-5-2022",1200,10000)
          }
companies.clear()
#print(companies,id(companies))
companies.add("infosys")
companies.add("ibm")
companies.add("tieto")
companies.remove("tieto")
companies.discard("ibm")
companies.discard("accenture")
print(companies)
newcompanies={"wipro","tcs","tata technologies"}
companies.update(newcompanies)
print("Poped is ",companies.pop())
print(companies,id(companies))

{'infosys'}
Poped is  infosys
{'tcs', 'tata technologies', 'wipro'} 2078366833120

In [76]:
Indian={"sachin","sehwag","virat","rohit","bumrah"}
WestIndies={"lara","gayle","bravo"}
Australia={"shane","mcgrath","gilly"}
Batsman={"sachin","sehwag","virat","rohit","lara","gayle","gilly" }
Bowler={"bumrah","bravo","shane","mcgrath"}
Cricketers={ "sachin","sehwag","virat","rohit","bumrah","lara","gayle","bravo","shane","mcgrath","gilly"
           }

print(Indian.issubset(Cricketers))
print(Cricketers.issuperset(Indian))
print(Indian.isdisjoint(WestIndies))

print(Indian.union(WestIndies).union(Australia)==Cricketers)
print(Cricketers.intersection(Indian))
print("Indian but not batsman",Indian.difference(Batsman))
print("Players which are not there in both sets",Indian.symmetric_difference(Batsman))

True
True
True
True
{'rohit', 'sachin', 'virat', 'sehwag', 'bumrah'}
Indian but not batsman {'bumrah'}
Players which are not there in both sets {'gayle', 'gilly', 'bumrah', 'lara'}